<% layout("/Layouts/boilerplate") %>
<body>
    <h2><%= ShowListing.title %></h2>
    <ul>
        <li>Title: <%= ShowListing.title %></li>
        <li>Description: <%= ShowListing.description %></li>
        <li>Price: &#36; <%= ShowListing.price %></li>
        <li>Location: <%= ShowListing.location %></li>
        <li>Country: <%= ShowListing.country %></li>
    </ul>
    <form action="/listings/<%= ShowListing._id %>/edit" method="get">
        <button> Edit </button>
    </form>
    <form method="POST" action="/listings/<%= ShowListing._id %>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>