<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing:</title>
</head>
<body>
    <h2><%= ShowListing.title %></h2>
    <ul>
        <li>Title: <%= ShowListing.title %></li>
        <li>Description: <%= ShowListing.description %></li>
        <li>Price: &#36; <%= ShowListing.price %></li>
        <li>Location: <%= ShowListing.location %></li>
        <li>Country: <%= ShowListing.country %></li>
    </ul>
</body>
</html>