<% layout("./Layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3><b><%= ShowListing.title %></b></h3>
    </div>
  </div>
  <div class="card listing-card mt-2 col-6 offset-3">
    <img
      src="<%= ShowListing.image %>"
      class="card-img-top show-image col-6"
      alt="listing-image"
    />
    <div class="card-body">
      <p class="card-text">
        <br />
        <%= ShowListing.description %>
        <br />
        &#36;<%= ShowListing.price %>
        <br />
        <%= ShowListing.country %>
        <br />
        <%= ShowListing.location %>
      </p>
    </div>
  </div>
  <div class="btns mb-3 offset-3">
    <a
      href="/listings/<%= ShowListing._id %>/edit"
      class="btn btn-dark edit-btn"
      >Edit
    </a>

    <form
      method="POST"
      action="/listings/<%= ShowListing._id %>?_method=DELETE"
    >
      <button class="btn btn-dark offset-2">Delete</button>
    </form>
  </div>
  <div class="col-8 offset-3 mt-3">
    <hr>
    <h3>Leave A Review</h3>
    <form method="POST" action="/listings/<%= ShowListing._id %>/review" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          id="rating"
          name="review[rating]"
          class="form-range"
          min="1"
          max="5"
        />
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          rows="5"
          type="text"
          id="comment"
          name="review[comment]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">
          Add comment to submit a review
        </div>
      </div>
      
      <button class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <h3 class="ms-2 mb-4">All Reviews</h3>
    <div class="row">
      <% if (ShowListing.reviews.length == 0) {%>
        <div class="card mb-3 ms-3 p-2 pb-0">
          <div class="card-body">
            <p><b>No Reviews</b></p>
          </div>
        </div>
        <% } %>
      <% for (rev of ShowListing.reviews) {%>
        <div class="card mb-3 ms-3 col-5 pb-2">
          <div class="card-body">
            <p class="card-text"><%= rev.comment %></p>
            <p class="card-text"><%= rev.rating %> stars</p>
          </div>
          <form method="POST" action="/listings/<%= ShowListing._id %>/review/<%= rev._id %>?_method=DELETE">
            <button class="btn btn-sm btn-dark mt-2">Delete</button>
          </form>
          
        </div>
        <% } %>
      </div>
      </div>
</body>
</body>
