<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update The listing</title>
</head>
<body>
    <h1> Update listing</h1>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" placeholder="Enter a title" name="listing[title]" value="<%= listing.title %>">
        <br><br>
        <textarea type="text" placeholder="Enter a description" name="listing[description]"> <%= listing.description %></textarea>
        <br><br>
        <input type="text" placeholder="Enter image URL" name="listing[image]" value="<%= listing.image %>">
        <br><br>
        <input type="number" placeholder="Enter price" name="listing[price]" value="<%= listing.price %>">
        <br><br>
        <input type="text" placeholder="Enter location" name="listing[location]" value="<%= listing.location %>">
        <br><br>
        <input type="text" placeholder="Enter country" name="listing[country]" value="<%= listing.country %>">
        <br><br>
        <button type="submit">Edit your listing</button>
</body>
</html>